.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.hamburger-menu {
  position: relative;
  padding-left: 1.25em;
}
.hamburger-menu:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 20px;
  width: 2em;
  height: 0.375em;
  border-top: 1.0em double black;
  border-bottom: 0.375em solid black;
}
p {
  margin: 0 0 10px;
  line-height: 150%;
  font-family: "adobe-garamond-pro", Georgia, "Times New Roman", Times, serif;
}
.lead {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 200;
  line-height: 30px;
}
* {
  -webkit-font-smoothing: antialiased;
}
small {
  font-size: 85%;
}
strong {
  font-weight: 700;
}
em {
  font-style: italic;
}
cite {
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  margin: 10px 0;
  font-family: inherit;
  font-weight: 700;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}
h1,
h2,
h3 {
  line-height: 40px;
}
h1 {
  font-size: 44px;
}
h1.main-title {
  text-transform: uppercase;
  color: white;
  font-size: 5.6rem;
  line-height: 100%;
  margin: 0 0 1rem 0;
}
h2 {
  font-size: 36px;
}
h2.main-subtitle {
  font-family: "adobe-garamond-pro", Georgia, "Times New Roman", Times, serif;
  color: #ffcb1e;
  font-size: 2.2rem;
  margin: 0;
  font-weight: normal;
}
h2.title {
  color: white;
  text-transform: uppercase;
}
h2.title em {
  font-family: "adobe-garamond-pro", Georgia, "Times New Roman", Times, serif;
  text-transform: none;
  font-weight: normal;
}
h3 {
  font-size: 28px;
}
h3.quote-title {
  margin-top: 20px;
  color: white;
  font-family: "adobe-garamond-pro", Georgia, "Times New Roman", Times, serif;
}
h3.quote-title .author {
  display: block;
  color: #ffcb1e;
}
h3.stat {
  color: #ffcb1e;
  font-weight: normal;
  font-size: 2.0rem;
  margin: 0;
}
h4 {
  font-size: 20px;
}
h4.subtitle {
  font-family: "adobe-garamond-pro", Georgia, "Times New Roman", Times, serif;
  color: #ffcb1e;
  font-weight: normal;
  margin: 20px 0 0 0;
}
h4.fact-sub {
  text-transform: uppercase;
  font-size: 12px;
  color: white;
  margin: 0;
}
h4.post-fact {
  font-size: 12px;
  color: white;
  font-family: "adobe-garamond-pro", Georgia, "Times New Roman", Times, serif;
  margin: 0;
}
h5 {
  font-size: 16px;
  color: #999999;
  text-transform: uppercase;
  line-height: 150%;
}
h5 em {
  font-family: "adobe-garamond-pro", Georgia, "Times New Roman", Times, serif;
  display: block;
  text-transform: none;
  font-weight: normal;
}
h6 {
  font-size: 13.6px;
}
h1 small {
  font-size: 28px;
}
h2 small {
  font-size: 20px;
}
h3 small {
  font-size: 16px;
}
h4 small {
  font-size: 16px;
}
ul,
ol {
  padding: 0;
  margin: 0 0 10px 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
li {
  line-height: 20px;
}
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}
ul.inline,
ol.inline {
  margin-left: 0;
  list-style: none;
}
ul.inline > li,
ol.inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
dl {
  margin-bottom: 20px;
}
dt,
dd {
  line-height: 20px;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 10px;
}
hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}
blockquote {
  position: relative;
  margin: 0 0 20px;
}
blockquote p {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.25;
}
blockquote small {
  display: block;
  line-height: 20px;
  color: #999999;
}
blockquote small:before {
  content: '\2014 \00A0';
}
blockquote.pull-right {
  float: right;
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
}
blockquote.pull-right p,
blockquote.pull-right small {
  text-align: right;
}
blockquote.pull-right small:before {
  content: '';
}
blockquote.pull-right small:after {
  content: '\00A0 \2014';
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
address {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  line-height: 20px;
}
html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: 'Gotham A', 'Gotham B', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
a {
  color: #0088cc;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
a.btn {
  vertical-align: top;
  display: inline-block;
  font-weight: 700;
  color: white;
  padding: 15px 20px;
  min-width: 120px;
  background: #2989E2;
  text-transform: uppercase;
}
a.btn.tweet {
  background: #29ABE2;
}
a:hover {
  color: #005580;
  text-decoration: none;
  border-bottom: 1px solid #005580;
}
a:hover.btn {
  color: white;
  border: none;
  cursor: pointer;
}
header {
  *zoom: 1;
  position: fixed;
  width: 100%;
  overflow: visible;
  margin: 0;
  padding: 0;
  z-index: 9999;
  top: 0px;
  -webkit-transition: header_transition;
  -moz-transition: header_transition;
  -ms-transition: header_transition;
  -o-transition: header_transition;
  transition: header_transition;
}
header:before,
header:after {
  display: table;
  content: "";
  line-height: 0;
}
header:after {
  clear: both;
}
header.scroll-hide {
  top: -100%;
  overflow: hidden;
}
header nav {
  position: relative;
  width: 100%;
  overflow: visible;
  margin: 0;
  *zoom: 1;
  padding: 20px 0px;
}
header nav:before,
header nav:after {
  display: table;
  content: "";
  line-height: 0;
}
header nav:after {
  clear: both;
}
header nav.main {
  width: auto;
  display: block;
  padding: 20px 20px;
}
header nav.main a {
  font-size: 30px;
  line-height: 30px;
  color: black;
}
header nav.main a.menu-toggle {
  margin-left: 20px;
}
header nav.main a.arrow.arrow-right {
  margin-left: 20px;
}
header nav.main a:hover {
  cursor: pointer;
  border: none;
}
header nav.dropdown {
  position: absolute;
  max-height: 0;
  width: 100%;
  display: block;
  top: 0%;
  left: 0px;
  z-index: -1;
  -webkit-transition: max-height 150ms ease-in-out, opacity 150ms ease-in-out, top 150ms ease-in-out;
  -moz-transition: max-height 150ms ease-in-out, opacity 150ms ease-in-out, top 150ms ease-in-out;
  -ms-transition: max-height 150ms ease-in-out, opacity 150ms ease-in-out, top 150ms ease-in-out;
  -o-transition: max-height 150ms ease-in-out, opacity 150ms ease-in-out, top 150ms ease-in-out;
  transition: max-height 150ms ease-in-out, opacity 150ms ease-in-out, top 150ms ease-in-out;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  overflow: hidden;
}
header nav.dropdown ul {
  position: relative;
  *zoom: 1;
  margin: 0;
  display: block;
  padding: 0 20px;
  list-style: none;
}
header nav.dropdown ul:before,
header nav.dropdown ul:after {
  display: table;
  content: "";
  line-height: 0;
}
header nav.dropdown ul:after {
  clear: both;
}
header nav.dropdown ul li {
  position: relative;
  display: block;
  width: 22%;
  float: left;
  margin: 0px 2%;
}
header nav.dropdown ul li img {
  max-width: 100%;
}
header nav.dropdown ul li:first-child {
  margin-left: 0px;
}
header nav.dropdown ul li:last-child {
  margin-right: 0px;
}
header nav.dropdown.open {
  top: 100%;
  max-height: 1000px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=0);
  opacity: 1;
  z-index: 9999999;
}
.content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 100%;
  width: 100%;
  padding: 0;
  overflow: hidden;
  top: 0%;
  z-index: 1;
  max-height: 0;
  max-width: 0;
  -webkit-transition: left 300ms ease-in-out, right 300ms ease-in-out, max-width 300ms ease-in-out;
  -moz-transition: left 300ms ease-in-out, right 300ms ease-in-out, max-width 300ms ease-in-out;
  -ms-transition: left 300ms ease-in-out, right 300ms ease-in-out, max-width 300ms ease-in-out;
  -o-transition: left 300ms ease-in-out, right 300ms ease-in-out, max-width 300ms ease-in-out;
  transition: left 300ms ease-in-out, right 300ms ease-in-out, max-width 300ms ease-in-out;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -ms-behavior: url(backgroundsize.min.htc);
}
.content.dark h2.title {
  color: #333333;
}
.content.dark.full-height-section .arrow {
  background: rgba(51, 51, 51, 0.5);
}
.content.full-height-section {
  text-align: center;
  height: 100%;
}
.content.full-height-section .inner-holder {
  display: table;
  height: 100%;
  width: 100%;
  min-height: 100%;
}
.content.full-height-section .inner-holder .inner-wrap {
  position: relative;
  display: table-row;
  height: 100%;
  width: 100%;
}
.content.full-height-section .inner-holder .inner-wrap .inner {
  padding: 60px 60px 60px 60px;
  display: table-cell;
  vertical-align: middle;
}
.content.full-height-section .inner-holder .inner-wrap .inner.has-article {
  padding: 60px 120px 60px 120px;
}
.content.full-height-section .arrow {
  position: absolute;
  top: 50%;
  margin-top: -40px;
  padding: 10px 10px 10px 30px;
}
.content.full-height-section .arrow.arrow-right {
  right: 60px;
}
.content.full-height-section .arrow.arrow-left {
  right: 60px;
}
.content.full-height-section.active {
  position: fixed;
  max-height: 100%;
}
.content.full-height-section article {
  margin: 30px 0 0 0;
  background: white;
  padding: 10px;
  max-width: 50%;
}
.content.full-height-section article .article-inner {
  border: 1px solid #999999;
  padding: 20px;
}
.content.full-height-section article .article-inner p {
  font-family: "adobe-garamond-pro", Georgia, "Times New Roman", Times, serif;
  font-size: 1.3rem;
  line-height: 150%;
}
.content.full-height-section footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  *zoom: 1;
  text-align: center;
  padding-bottom: 20px;
  width: 100%;
}
.content.full-height-section footer:before,
.content.full-height-section footer:after {
  display: table;
  content: "";
  line-height: 0;
}
.content.full-height-section footer:after {
  clear: both;
}
.content.full-height-section footer h5.notorious-svg {
  color: white;
  margin-top: 20px;
}
.content.full-height-section footer h5.notorious-svg span {
  margin: 0px 10px;
}
.content.scrolling-section footer {
  *zoom: 1;
  position: relative;
  background: rgba(51, 51, 51, 0.5);
  padding: 40px;
  margin: 0;
}
.content.scrolling-section footer:before,
.content.scrolling-section footer:after {
  display: table;
  content: "";
  line-height: 0;
}
.content.scrolling-section footer:after {
  clear: both;
}
.content.scrolling-section article {
  position: relative;
  background: white;
  *zoom: 1;
  margin: 0;
  padding: 20px 0 0px 0px;
}
.content.scrolling-section article:before,
.content.scrolling-section article:after {
  display: table;
  content: "";
  line-height: 0;
}
.content.scrolling-section article:after {
  clear: both;
}
.content.scrolling-section article .article-inner {
  *zoom: 1;
  position: relative;
  display: block;
  max-width: 500px;
  padding: 0px 10px;
  margin: 0 auto;
}
.content.scrolling-section article .article-inner:before,
.content.scrolling-section article .article-inner:after {
  display: table;
  content: "";
  line-height: 0;
}
.content.scrolling-section article .article-inner:after {
  clear: both;
}
.content.scrolling-section article footer {
  margin-top: 30px;
  background: #333333;
}
.content.scrolling-section .inner-holder {
  position: absolute;
  left: 0px;
  top: 0px;
  display: table;
  height: 100%;
  width: 100%;
  min-height: 100%;
  text-align: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -ms-behavior: url(backgroundsize.min.htc);
}
.content.scrolling-section .inner-holder .inner-wrap {
  position: relative;
  display: table-row;
  height: 100%;
  width: 100%;
}
.content.scrolling-section .inner-holder .inner-wrap .inner {
  padding: 60px 60px 60px 60px;
  display: table-cell;
  vertical-align: middle;
}
.content.scrolling-section.active .inner-holder {
  position: fixed;
}
.content.active {
  min-height: 100%;
  left: 0px;
  z-index: 1;
  max-height: 10000000000px;
  max-width: 10000000000px;
}
.content .arrow {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 60px;
}
.content .arrow:hover {
  border-bottom: none;
  cursor: pointer;
}
.content .arrow .icon {
  font-weight: normal;
  font-size: 60px;
  vertical-align: middle;
}
.content .arrow .icon.icon-arrow-left {
  margin-right: 10px;
}
.content .arrow .icon.icon-arrow-right {
  margin-left: 10px;
}
.content.title-slide {
  background-image: url(../img/bgs/background-images_0012_title-bg.jpg);
}
.content.intro-quote {
  background: black;
  text-align: left;
}
.content.intro-quote blockquote {
  font-weight: 700;
  font-size: 4rem;
  color: white;
  text-transform: uppercase;
  line-height: 120%;
  margin: 0 0 50px 0;
  padding-right: 120px;
}
.content.intro-quote h2.main-subtitle {
  font-size: 2.2rem;
}
.content.intro-history {
  background-image: url(../img/bgs/background-images_0011_a-brief-history.jpg);
}
.content.wall-slide {
  background-image: url(../img/bgs/background-images_0010_the-wall.jpg);
  text-align: left;
}
.content.grid-slide {
  background-image: url(../img/bgs/background-images_0009_the-grid.jpg);
  text-align: left;
}
.content.grid-slide p {
  margin-top: 30px;
  padding-right: 80px;
  color: white;
}
.content.grid-slide p img {
  float: left;
  margin-right: 50px;
}
.content.melting-pot .inner-holder {
  background: #A79A94;
}
.content.sky {
  background-image: url(../img/bgs/background-images_0008_the-sky.jpg);
}
.content.race-top .inner-holder {
  background-image: url(../img/bgs/background-images_0007_race-to-the-top.jpg);
}
.content.skyscraper-quote {
  background-image: url(../img/bgs/background-images-the-top.png);
  text-align: left;
}
.content.skyscraper-quote blockquote {
  font-weight: 700;
  font-size: 3rem;
  color: #333333;
  text-transform: uppercase;
  line-height: 120%;
  width: 40%;
  padding: 60px;
  margin: 60px;
}
.content.skyscraper-quote blockquote .quotes {
  position: absolute;
  top: -40px;
  left: -20px;
  font-size: 400px;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.1);
}
.content.empire-long {
  background-image: url(../img/bgs/background-images_nothing-poetic.jpg);
  text-align: center;
}
.content.empire-long blockquote {
  font-weight: 700;
  font-size: 6rem;
  color: white;
  text-transform: uppercase;
  line-height: 180%;
  padding: 120px 0 0 0;
}
.content.empire-long h2.main-subtitle {
  font-size: 2.2rem;
  padding-bottom: 220px;
}
.content.street {
  background-image: url(../img/bgs/background-images_0003_the-street.jpg);
}
.content.crossroads .inner-holder {
  background-image: url(../img/bgs/background-images_0001_crossroads.jpg);
}
.content.arts-culture {
  background-image: url(../img/bgs/background-images_0000_art-culture.jpg);
  text-align: center;
}
.content.arts-culture article {
  margin: 30px auto 0 auto;
}
.content.underground {
  background-image: url(../img/bgs/background-images_0004_the-underground.jpg);
}
.content.beach-pneumatic {
  background-image: url(../img/bgs/background-images_0005_pneumatic-tube.jpg);
  text-align: center;
}
.content.beach-pneumatic article {
  margin: 30px auto 0 auto;
}
.content.mta {
  background: black;
  text-align: center;
}
.content.mta .inner-holder {
  background-image: url(../img/bgs/background-images_0003_the-street.jpg);
}
.content.mta footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  *zoom: 1;
  right: 0px;
}
.content.mta footer:before,
.content.mta footer:after {
  display: table;
  content: "";
  line-height: 0;
}
.content.mta footer:after {
  clear: both;
}
.content.rough-past {
  background-image: url(../img/bgs/background-images_0002_rough-past.jpg);
  text-align: left;
}
.content.buskers {
  background: #1073B9;
}
.content.end {
  background: #717171;
}
.content.end form {
  *zoom: 1;
  margin: 20px 0 0 0;
}
.content.end form:before,
.content.end form:after {
  display: table;
  content: "";
  line-height: 0;
}
.content.end form:after {
  clear: both;
}
.content.end form input {
  display: inline-block;
  vertical-align: top;
  padding: 15px 20px;
  min-width: 250px;
  color: #333333;
  font-family: 'Gotham A', 'Gotham B', "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: none;
  outline: none;
}
.content.end .share-holder {
  margin-top: 50px;
  *zoom: 1;
}
.content.end .share-holder:before,
.content.end .share-holder:after {
  display: table;
  content: "";
  line-height: 0;
}
.content.end .share-holder:after {
  clear: both;
}
.content.end .share-holder .email {
  margin-right: 10px;
}
.content.end .share-holder .share {
  margin-left: 10px;
}
.facts-holder {
  position: relative;
  background: black;
  *zoom: 1;
  width: 100%;
  margin: 0;
  padding: 0;
}
.facts-holder:before,
.facts-holder:after {
  display: table;
  content: "";
  line-height: 0;
}
.facts-holder:after {
  clear: both;
}
.facts-holder .intro {
  padding: 30px;
  border: 1px solid white;
  max-width: 400px;
  margin: 200px auto 100px auto;
}
.facts-holder .track {
  position: relative;
  margin: 0;
  padding: 0 0 50px 0;
  background: url(../img/track.svg) no-repeat center top;
  *zoom: 1;
}
.facts-holder .track:before,
.facts-holder .track:after {
  display: table;
  content: "";
  line-height: 0;
}
.facts-holder .track:after {
  clear: both;
}
.facts-holder .fact {
  position: relative;
  *zoom: 1;
  display: block;
  margin: 0 0 50px 0;
  padding: 0;
}
.facts-holder .fact:before,
.facts-holder .fact:after {
  display: table;
  content: "";
  line-height: 0;
}
.facts-holder .fact:after {
  clear: both;
}
.facts-holder .fact.odd {
  text-align: left;
  padding-left: 55%;
}
.facts-holder .fact.even {
  text-align: right;
  padding-right: 55%;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.invisible {
  visibility: hidden;
}
.affix {
  position: fixed;
}
