// Variables
// -------------------------
@black:                 #000;
@grayDarker:            #222;
@grayDark:              #333;
@gray:                  #555;
@grayLight:             #999;
@grayLighter:           #eee;
@white:                 #fff;

@blue:                  #049cdb;
@blueDark:              #0064cd;
@green:                 #46a546;
@red:                   #9d261d;
@yellow:                #FFCB1E;
@orange:                #f89406;
@pink:                  #c3325f;
@purple:                #7a43b6;

@bodyBackground:        @white;
@textColor:             @grayDark;
@hrBorder:              @grayLighter;

@linkColor:             #08c;
@linkColorHover:        darken(@linkColor, 15%);

@sansFontFamily:        'Gotham A', 'Gotham B', "Helvetica Neue", Helvetica, Arial, sans-serif;
@serifFontFamily:       "adobe-garamond-pro", Georgia, "Times New Roman", Times, serif;
@monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace;

@baseFontSize:          16px;
@baseFontFamily:        @sansFontFamily;
@baseLineHeight:        20px;
@altFontFamily:         @serifFontFamily;

@headingsFontFamily:    inherit; // empty to use BS default, @baseFontFamily
@headingsFontWeight:    bold;    // instead of browser default, bold
@headingsColor:         inherit; // empty to use BS default, @textColor


@import "mixins.less";
@import "type.less";


// Scaffolding
// -------------------------
html {
  height:100%;
  width:100%;
  overflow-x:hidden;
}
body {
  margin: 0;
  font-family: @baseFontFamily;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  color: @textColor;
  background-color: @bodyBackground;
  height:100%;
  width:100%;
  overflow-x:hidden;
}

#container {
}


// Links
// -------------------------
a {
  color: @linkColor;
  text-decoration: none;
  .transition(all 0.3s ease-in);
  &.btn {
	  vertical-align:top;
	  display:inline-block;
	  font-weight:700;
	  color:white;
	  padding:15px 20px;
	  min-width:120px;
	  background:#2989E2;
	  text-transform:uppercase;
	  &.tweet {
		  background:#29ABE2;
	  }
  }
}
a:hover {
  color: @linkColorHover;
  text-decoration: none;
  border-bottom:1px solid @linkColorHover;
  &.btn {
  	color:white;
	border:none;
	cursor:pointer;
  }
}


// Styles
// -------------------------

header {
	.clearfix;
	position:fixed;
	width:100%;
	overflow:visible;
	margin:0;
	padding:0;
	z-index: 9999;
	top:0px;
	@header_transition: max-height 300ms ease-in, top 300ms ease-in-out;
	.transition(header_transition);
	&.scroll-hide {
		top:-100%;
		//max-height:0px;
		overflow:hidden;
	}
	nav {
		position:relative;
		width:100%;
		overflow:visible;
		margin:0;
		.clearfix;
		padding:20px 0px;
		&.main {
			width:auto;
			display:block;
			padding:20px 20px;
			a {
				font-size:30px;
				line-height:30px;
				color:black;
				
				&.menu-toggle {
					margin-left:20px;
					//display:block;
					//width:30px;
					//height:30px;
					//overflow:hidden;
				}
				&.arrow {
					&.arrow-right {
						margin-left:20px;
					}
				}
				&:hover {
					cursor:pointer;
					border:none;
				}
			}
		}
		&.dropdown {
			position:absolute;
			max-height:0;
			width:100%;
			display:block;
			top:0%;
			left:0px;
			z-index:-1;
			@navtransition: max-height 150ms ease-in-out, opacity 150ms ease-in-out, top 150ms ease-in-out;
			.transition(@navtransition);
		   	.opacity(0);
			overflow:hidden;
			ul {
				position:relative;
				.clearfix;
				margin:0;
				display:block;
				padding:0 20px;
				list-style:none;
				li {
					position:relative;
					display:block;
					width:22%;
					float:left;
					margin:0px 2%;
					img {
						max-width:100%;
					}
					&:first-child {
						margin-left:0px;
					}
					&:last-child {
						margin-right:0px;
					}
				}
			}
			&.open {
				top:100%;
				max-height:1000px;
		   		.opacity(100);
				z-index:9999999;
			}
		}
	}
}


.content {
	.border-box;
	position: absolute;
	left: 100%; 
	width: 100%;
	padding:0;
	overflow: hidden;
	top:0%;
	z-index:1;
	max-height:0;
	max-width:0;
	@sectiontransition: left 300ms ease-in-out, right 300ms ease-in-out, max-width 300ms ease-in-out;
	.transition(@sectiontransition);
	background-position:center center;
	.fullbackground(cover);
	&.dark {
		h2.title {
			color:#333333;
		}
		&.full-height-section {
			.arrow {
				background:rgba(51,51,51, 0.5);
			}
		}
	}
	&.full-height-section {
		text-align:center;
		height:100%;
		.inner-holder {
			display:table;
			height:100%;
			width:100%;
			min-height:100%;
			.inner-wrap {
				position:relative;
				display:table-row;
				height:100%;
				width:100%;
				.inner {
					padding:60px 60px 60px 60px;
					display:table-cell;
					vertical-align:middle;
					&.has-article {
						padding:60px 120px 60px 120px;
					}
				}

			}
		}
		.arrow {
			position:absolute;
			top:50%;
			margin-top:-40px;
			padding:10px 10px 10px 30px;
			&.arrow-right {
				right:60px;
			}
			&.arrow-left {
				right:60px;
			}
		}
		&.active {
			position: fixed;
			max-height:100%;
		}
		article {
			margin:30px 0 0 0;
			background:white;
			padding:10px;
			max-width:50%;
			.article-inner {
				border:1px solid #999999;
				padding:20px;
				p {
					font-family:@serifFontFamily;
					font-size:1.3rem;
					line-height:150%;
				}
			}
		}
		footer {
			position:absolute;
			bottom:0px;
			left:0px;
			.clearfix;
			text-align:center;
			padding-bottom:20px;
			width:100%;
			h5.notorious-svg {
				color:white;
				margin-top:20px;
				span {
					margin:0px 10px;
				}
			}
		}
	}
	&.scrolling-section {
		footer {
			.clearfix;
			position:relative;
			background:rgba(51,51,51,0.5);
			padding:40px;
			margin:0;
		}
		article {
			position:relative;
			background:white;
			.clearfix;
			margin:0;
			padding:20px 0 0px 0px;
			
			.article-inner {
				.clearfix;
				position:relative;
				display:block;
				max-width:500px;
				padding:0px 10px;
				margin:0 auto;
			}

			footer {
				margin-top:30px;
				background:rgba(51,51,51,1);
			}
		}
		
		.inner-holder {
			position:absolute;
			left:0px;
			top:0px;
			display:table;
			height:100%;
			width:100%;
			min-height:100%;
			text-align:center;
			background-position:center center;
			.fullbackground(cover);
			
			.inner-wrap {
				position:relative;
				display:table-row;
				height:100%;
				width:100%;
				.inner {
					padding:60px 60px 60px 60px;
					display:table-cell;
					vertical-align:middle;
				}

			}
		}
		&.active {
			.inner-holder {
				position:fixed;
			}
		}
	}
	&.active {
		min-height:100%;
		left:0px;
		z-index:1;
		max-height:10000000000px;
		max-width:10000000000px;
	}
	.arrow {
		color:white;
		text-transform:uppercase;
		font-weight:700;
		font-size:14px;
		line-height:60px;
		&:hover {
			border-bottom:none;
			cursor:pointer;
		}
		.icon {
			font-weight:normal;
			font-size:60px;
			vertical-align:middle;
			&.icon-arrow-left {
				margin-right:10px;
			}
			&.icon-arrow-right {
				margin-left:10px;
			}

		}
	}
	&.title-slide {
		background-image:url(../img/bgs/background-images_0012_title-bg.jpg);
	}
	&.intro-quote {
		background:black;
		text-align:left;
		blockquote {
			font-weight:700;
			font-size:4rem;
			color:white;
			text-transform:uppercase;
			line-height:120%;
			margin:0 0 50px 0;
			padding-right:120px;
		}
		h2.main-subtitle {
			font-size:2.2rem;
		}
	}
	&.intro-history {
		background-image:url(../img/bgs/background-images_0011_a-brief-history.jpg);
	}
	&.wall-slide {
		background-image:url(../img/bgs/background-images_0010_the-wall.jpg);
		text-align:left;
	}
	&.grid-slide {
		background-image:url(../img/bgs/background-images_0009_the-grid.jpg);
		text-align:left;
		p {
			margin-top:30px;
			padding-right:80px;
			color:white;
			img {
				float:left;
				margin-right:50px;
			}
		}
	}
	&.melting-pot {
		.inner-holder {
			background:#A79A94;
		}
	}
	&.sky {
		background-image:url(../img/bgs/background-images_0008_the-sky.jpg);
	}
	&.race-top {
		.inner-holder {
			background-image:url(../img/bgs/background-images_0007_race-to-the-top.jpg);
		}
	}
	&.skyscraper-quote {
		background-image:url(../img/bgs/background-images-the-top.png);
		text-align:left;
		blockquote {
			font-weight:700;
			font-size:3rem;
			color:#333333;
			text-transform:uppercase;
			line-height:120%;
			width:40%;
			padding:60px;
			margin:60px;
			.quotes {
				position:absolute;
				top:-40px;
				left:-20px;
				font-size:400px;
				line-height:100%;
				color:rgba(0,0,0,0.1);
			}
		}
	}
	&.empire-long {
		background-image:url(../img/bgs/background-images_nothing-poetic.jpg);
		text-align:center;
		blockquote {
			font-weight:700;
			font-size:6rem;
			color:white;
			text-transform:uppercase;
			line-height:180%;
			padding:120px 0 0 0;
		}
		h2.main-subtitle {
			font-size:2.2rem;
			padding-bottom:220px;
		}
	}
	&.street {
		background-image:url(../img/bgs/background-images_0003_the-street.jpg);
	}
	&.crossroads {
		.inner-holder {
			background-image:url(../img/bgs/background-images_0001_crossroads.jpg);
		}
	}
	&.arts-culture {
		background-image:url(../img/bgs/background-images_0000_art-culture.jpg);
		text-align:center;
		article {
			margin:30px auto 0 auto;
		}
	}
	&.underground {
		background-image:url(../img/bgs/background-images_0004_the-underground.jpg);
	}
	&.beach-pneumatic {
		background-image:url(../img/bgs/background-images_0005_pneumatic-tube.jpg);
		text-align:center;
		article {
			margin:30px auto 0 auto;
		}
	}
	&.mta {
		background:black;
		text-align:center;
		.inner-holder {
			background-image:url(../img/bgs/background-images_0003_the-street.jpg);
		}
		footer {
			bottom:0px;
			left:0px;
			.clearfix;
			right:0px;
		}
		&.active {
			footer {
				position:fixed;
			}
		}
	}
	&.rough-past {
		background-image:url(../img/bgs/background-images_0002_rough-past.jpg);
		text-align:left;
	}
	&.buskers {
		background:#1073B9;
	}
	&.end {
		background:#717171;
		form {
			.clearfix;
			margin:20px 0 0 0;
			input {
				display:inline-block;
				vertical-align:top;
				padding:15px 20px;
				min-width:250px;
				color:#333333;
				font-family: @baseFontFamily;
				border:none;
				outline:none;
			}
			a.btn {
				//margin-top:-1px;
			}
		}
		.share-holder {
			margin-top:50px;
			.clearfix;
			.email {
				margin-right:10px;
			}
			.share {
				margin-left:10px;
			}
		}
	}
}

.facts-holder {
	position:relative;
	background:black;
	.clearfix;
	width:100%;
	margin:0;
	padding:0;
	.intro {
		padding:30px;
		border:1px solid white;
		max-width:400px;
		margin:200px auto 100px auto;
	}
	.track {
		position:relative;
		margin:0;
		padding:0 0 50px 0;
		background:url(../img/track.svg) no-repeat center top;
		.clearfix;
	}
	.fact {
		position:relative;
		.clearfix;
		display:block;
		margin:0 0 50px 0;
		padding:0;
		&.odd {
			text-align:left;
			padding-left:55%;
		}
		&.even {
			text-align:right;
			padding-right:55%;
		}
	}
}




@import "utilities.less";
