// Variables
// -------------------------
@black:                 #000;
@grayDarker:            #222;
@grayDark:              #333;
@gray:                  #555;
@grayLight:             #999;
@grayLighter:           #eee;
@white:                 #fff;

@blue:                  #049cdb;
@blueDark:              #0064cd;
@green:                 #46a546;
@red:                   #9d261d;
@yellow:                #ffc40d;
@orange:                #f89406;
@pink:                  #c3325f;
@purple:                #7a43b6;

@bodyBackground:        @white;
@textColor:             @grayDark;
@hrBorder:              @grayLighter;

@linkColor:             #08c;
@linkColorHover:        darken(@linkColor, 15%);

@sansFontFamily:        'Gotham A', 'Gotham B', "Helvetica Neue", Helvetica, Arial, sans-serif;
@serifFontFamily:       Georgia, "Times New Roman", Times, serif;
@monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace;

@baseFontSize:          14px;
@baseFontFamily:        @sansFontFamily;
@baseLineHeight:        20px;
@altFontFamily:         @serifFontFamily;

@headingsFontFamily:    inherit; // empty to use BS default, @baseFontFamily
@headingsFontWeight:    bold;    // instead of browser default, bold
@headingsColor:         inherit; // empty to use BS default, @textColor


@import "mixins.less";
@import "type.less";


// Scaffolding
// -------------------------
html {
  height:100%;
  width:100%;
  overflow-x:hidden;
}
body {
  margin: 0;
  font-family: @baseFontFamily;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  color: @textColor;
  background-color: @bodyBackground;
  height:100%;
  width:100%;
  overflow-x:hidden;
}

#container {
	.touch & {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		cursor: default;
		overflow: hidden;

		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;
	}
}
.content {
	.border-box;
	position: absolute;
	left: 100%; 
	width: 100%;
	padding:0;
	padding-bottom: 0;
	overflow: hidden;
	top:0%;
	z-index:1;
	min-height:100%;
	max-height:0;
	max-width:0;
	@sectiontransition: left 300ms ease-in-out, right 300ms ease-in-out, max-width 300ms ease-in-out, max-height 300ms ease-in-out;
	.transition(@sectiontransition);
	//.opacity(0);
	&.full-height-section {
		height:100%;
	}
	&.active {
	//	.opacity(100);
		left:0px;
		z-index:1;
		max-height:10000000000px;
		max-width:10000000000px;
		&.scrolling-section {
			min-height:200%;
		}
	}
	&.prev {
		left:auto;
		right:100%;
		&.active {
			left:auto;
			right:0px;
		}
	}
	&:nth-child(1) {
		background:#ecf0f1;
	}
	&:nth-child(2) {
		background:#16a085;
	}
	&:nth-child(3) {
		background:#1abc9c;
	}
	&:nth-child(4) {
		background:#9b59b6;
	}
	&:nth-child(5) {
		background:#e74c3c;
	}
	&:nth-child(6) {
		background:#f39c12;
	}
}


// Links
// -------------------------
a {
  color: @linkColor;
  text-decoration: none;
  .transition(all 0.3s ease-in);
}
a:hover {
  color: @linkColorHover;
  text-decoration: none;
  border:1px solid @linkColorHover;
}


// Styles
// -------------------------

header {
	.clearfix;
	position:fixed;
	width:100%;
	overflow:visible;
	margin:0;
	padding:0;
	z-index: 9999;
	top:0px;
	@header_transition: max-height 300ms ease-in, top 300ms ease-in-out;
	.transition(header_transition);
	&.scroll-hide {
		top:-100%;
		//max-height:0px;
		overflow:hidden;
	}
	nav {
		position:relative;
		width:100%;
		overflow:visible;
		margin:0;
		.clearfix;
		padding:20px 0px;
		&.main {
			width:auto;
			display:block;
			padding:20px 20px;
			a {
				&.menu-toggle {
					display:block;
					width:30px;
					height:30px;
					overflow:hidden;
				}
				&.arrow {
					font-size:30px;
					line-height:30px;
					color:black;
					&.arrow-right {
						margin-left:20px;
					}
				}
				&:hover {
					cursor:pointer;
					border:none;
				}
			}
		}
		&.dropdown {
			position:absolute;
			max-height:0;
			width:100%;
			display:block;
			top:0%;
			left:0px;
			z-index:-1;
			@navtransition: max-height 150ms ease-in-out, opacity 150ms ease-in-out, top 150ms ease-in-out;
			.transition(@navtransition);
		   	.opacity(0);
			ul {
				position:relative;
				.clearfix;
				margin:0;
				display:block;
				padding:0 20px;
				list-style:none;
				li {
					position:relative;
					display:block;
					width:22%;
					float:left;
					margin:0px 2%;
					img {
						max-width:100%;
					}
					&:first-child {
						margin-left:0px;
					}
					&:last-child {
						margin-right:0px;
					}
				}
			}
			&.open {
				top:100%;
				max-height:1000px;
		   		.opacity(100);
				z-index:9999999;
			}
		}
	}
}






@import "utilities.less";
